<div class="p-3">
  <div class="col-sm-12">
      <table id="example2" class="margin-top-20  table  table-hover">
          <thead>
            <tr>
              <th colspan="6" style="font-weight: bold;font-size: 25px;text-align: center !important;border: none;">Service RFQ : OM/REQ/SPA-FEB-19/1057</th>  
           </tr>
           <tr>
            <th class="removeborder" colspan="3" >To</th>  
            <th class="removeborder" colspan="3" >From</th>
           </tr> 
           <tr>
            <th class="removeborder" colspan="3" >M/S L&T Infra Ltd</th>  
            <th class="removeborder"  colspan="3" >M/S Intex Constructions</th>
           </tr>
           <tr>
            <td class="removeborder" colspan="3" >Uptown Cyberbad Building, Ayyapa Society, 100 feet Road</td>  
            <td class="removeborder" colspan="3"  >Madhapur, Ayyappa Society</td>
           </tr>
           <tr>
            <td class="removeborder" colspan="3" >Banglore, Telangana, India - 500788</td>  
            <td class="removeborder" colspan="3" >Hyderabad, Telangana, India - 506002	</td>
           </tr>

           <tr>
            <td class="removeborder" colspan="3" >Phone: 8975676478</td>  
            <td class="removeborder" colspan="3" >Phone:</td> 
           </tr>
           <tr>
            <td class="removeborder" colspan="3" >E-Mail: contact@optionmatrix.com</td>  
            <td class="removeborder" colspan="3" >E-Mail: contact@intex.com</td> 
           </tr>


          </thead>
      </table>
  </div>

  <table class="margin-top-20 table table-bordered table-hover" >
    <thead>
     <tr>
      <th rowspan="1" class="text-left" >Job Code</th> 
      <th rowspan="1" class="text-left" >Job Name</th>  
      <th rowspan="1" class="text-left" >Service Category</th>
      <th rowspan="1" class="text-center" >UOM</th> 
      <th rowspan="1" class="text-center" >Quantity Required</th>    
      <th rowspan="1" class="text-left" >Remarks</th>  
      <th rowspan="1" class="text-left" >Unit Rate</th> 
      <th rowspan="1" class="text-left" >Price</th> 
      <th rowspan="1" class="text-left" >Quote Rank</th>  
      <th rowspan="1" class="text-center" >Delivery Date</th>
      <th rowspan="1" class="text-left" >Previous Quote (Rs)</th>
      <th rowspan="1" class="text-left" >Last Quote Date</th>
     </tr>
    </thead>
  <tbody>
    <tr>
      <td class="text-left">Mechanical</td>
      <td class="text-left">Repair of Machinery</td>
      <td class="text-left">Volvo</td>
      <td class="text-left">No's</td>
      <td class="text-left">3500</td>
      <td class="text-left">Quality Service Required</td>
      <td><input type="text" formControlName="Qrequired" placeholder="Enter Unit Rate " maxlength="50" class="form-control"></td>  
      <td class="text-center">2,45,000</td>
      <td class="text-center">#1</td>           
      <td><input type="date" formControlName="earlydelivery" placeholder="Delivery Date" maxlength="50" class="form-control"></td>
      <td class="text-center">90</td>  
      <td class="text-left">16-Oct-2019</td>
    </tr>
    <tr>
      <td class="text-left">Plumbing</td>
      <td class="text-left">Installation of sanitary fitments</td>
      <td class="text-left">Volvo</td>
      <td class="text-left">No's</td>
      <td class="text-left">3500</td>
      <td class="text-left">Quality Service Required</td>
      <td><input type="text" formControlName="Qrequired" placeholder="Enter Unit Rate " maxlength="50" class="form-control"></td>  
      <td class="text-center">2,45,000</td>
      <td class="text-center">#3</td>           
      <td><input type="date" formControlName="earlydelivery" placeholder="Delivery Date" maxlength="50" class="form-control"></td>
      <td class="text-center">90</td>  
      <td class="text-left">16-Oct-2019</td>
    </tr>
    <tr>
      <td class="text-left">Mechanical</td>
      <td class="text-left">Repair of Machinery</td>
      <td class="text-left">Volvo</td>
      <td class="text-left">No's</td>
      <td class="text-left">3500</td>
      <td class="text-left">Quality Service Required</td>
      <td><input type="text" formControlName="Qrequired" placeholder="Enter Unit Rate " maxlength="50" class="form-control"></td>  
      <td class="text-center">2,45,000</td>
      <td class="text-center">#1</td>           
      <td><input type="date" formControlName="earlydelivery" placeholder="Delivery Date" maxlength="50" class="form-control"></td>
      <td class="text-center">90</td>  
      <td class="text-left">16-Oct-2019</td>
    </tr>
    <tr>
      <td class="text-left">Plumbing</td>
      <td class="text-left">Installation of sanitary fitments</td>
      <td class="text-left">Volvo</td>
      <td class="text-left">No's</td>
      <td class="text-left">3500</td>
      <td class="text-left">Quality Service Required</td>
      <td><input type="text" formControlName="Qrequired" placeholder="Enter Unit Rate " maxlength="50" class="form-control"></td>  
      <td class="text-center">2,45,000</td>
      <td class="text-center">#1</td>           
      <td><input type="date" formControlName="earlydelivery" placeholder="Delivery Date" maxlength="50" class="form-control"></td>
      <td class="text-center">90</td>  
      <td class="text-left">16-Oct-2019</td>
    </tr>
    <tr>
      <td class="text-left">Mechanical</td>
      <td class="text-left">Repair of Machinery</td>
      <td class="text-left">Volvo</td>
      <td class="text-left">No's</td>
      <td class="text-left">3500</td>
      <td class="text-left">Quality Service Required</td>
      <td><input type="text" formControlName="Qrequired" placeholder="Enter Unit Rate " maxlength="50" class="form-control"></td>  
      <td class="text-center">2,45,000</td>
      <td class="text-center">#2</td>           
      <td><input type="date" formControlName="earlydelivery" placeholder="Delivery Date" maxlength="50" class="form-control"></td>
      <td class="text-center">90</td>  
      <td class="text-left">16-Oct-2019</td>
    </tr>
  </tbody>
</table>
    <div class="form-group">
      <label class="control-label col-sm-12 " style="margin-left: -1%;">Upload Quotation: </label>
      <small class="col-sm-12" style="margin-left: -1%;">Click here to Upload the Quotation in PDF Format</small>
      <div class="col-sm-2" style="margin-top: 1%;margin-left: -1%;">
        <input type="file"  id="step">
      </div>
      <div class="col-sm-10">

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-12 " style="margin-left: -1%; margin-top: 1%;">Upload Proforma Invoice: </label>
      <small class="col-sm-12" style="margin-left: -1%;">Click here to Upload the Proforma Invoice in PDF Format</small>
      <div class="col-sm-2" style="margin-top: 1%;margin-left: -1%;">
        <input type="file"  id="step">
      </div>
      <div class="col-sm-10">

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-12 " style="margin-top: 1%;margin-left: -1%;">Quote Expiry Date: </label>
      <div class="col-sm-2" style="margin-left: -1%;">
        <input type="date" class="form-control" id="step" placeholder="Enter Quote Expiry Date">
      </div>
      <div class="col-sm-10">

      </div>
    </div>
    <div class="form-group" >
      <label class="control-label col-sm-12 " style="margin-top: 1%;margin-left: -1%;"> Remarks:</label>
      <div class="col-sm-6" style="margin-left: -0.8%;">
        <textarea id="txtid" name="txtname" rows="4" class="form-control" id="step"  placeholder="Enter Remarks">Complaince over Material issues - to be delivered on time</textarea>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
    <div class="col-sm-12" style="margin-left: -1.2%;margin-top: 1%;">
      <button type="button" class="btn btn-success" style="margin-bottom: 0.5%;">Submit</button>
    </div>
    </div>

  
