<h1 mat-dialog-title class="custom-header" style="background-color:#286ba5 !important;height:50px">{{ data ? 'Update' : 'Add'}} Stock Adjustment</h1>
<form class="p-2">
  <div mat-dialog-content>
    <div class="col-sm-12">
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Item Name: </label>
      <input type="text" class="form-control" placeholder="Enter Item Name" required >
    </div>

    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Item Code: </label>
      <input type="text" disabled class="form-control" placeholder="Enter Item Code" value="PLY23001" required >
    </div>

    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Item Category: </label>
      <input type="text" disabled class="form-control" placeholder="Enter Item Category" value="Wood" required >
    </div>

    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Item Sub Category: </label>
      <input type="text" disabled class="form-control" placeholder="Enter Item Sub Category" value="Plywood" required >
    </div>

    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Brand: </label>
      <input type="text"  class="form-control" placeholder="Enter Item Brand" required >
    </div>

    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Length: </label>
      <input type="text" disabled class="form-control" placeholder="Enter Length"  required >
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Width: </label>
      <input type="text" disabled class="form-control" placeholder="Enter Width"  required >
    </div>
    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Height: </label>
      <input type="text" disabled class="form-control" placeholder="Enter Height"  required >
    </div>
    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Thickness: </label>
      <input type="text" disabled class="form-control" placeholder="Enter Thickness" value="30mm" required >
    </div>
       
    
    <div class="form-group">
      <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Adjustment Qty: </label>
      <input type="text" class="form-control" placeholder="Enter Adjustment Qty" required >
    </div>
  </div>
</div>
     
   

      <!-- <div class="form-group">
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">MOQ: </label>
        <input type="text" class="form-control" placeholder="Enter MOQ" required >
      </div>

      <div class="form-group">
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Saftey Stock: </label>
        <input type="text" class="form-control" placeholder="Enter Saftey Stock" required >
      </div> -->

      
    </div>
      

    </div>

    <mat-dialog-actions align="center"  class="pull-right" style="margin-bottom: -17px;margin-right: 15px;">
      <button mat-raised-button class="add-hover btn-primary pull-right" type="submit"><mat-icon>send</mat-icon>&nbsp;Save</button>
      <button mat-raised-button type="button" class="add-dark-hover btn-default pull-right" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
  </mat-dialog-actions>
</form>





