<div class="row" style="margin-bottom:10px;">
  <div class="col-sm-12"> 
    <button mat-raised-button class="pull-right  btn-default" style="margin-right: 25px"
    routerLink="/purchase/servicecontracts/work-orders/pending">
       <mat-icon>chevron_left</mat-icon> Back
    </button>
  </div> 
</div>
  <div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">
      <!-- <div class="row" style="margin-bottom:23px;"> <div class="col-sm-12"> <button mat-raised-button class="pull-right  btn-default margin-right-10" routerLink="/purchase/material-management/requisition"> <mat-icon>chevron_left</mat-icon> Back </button> <button mat-raised-button class="pull-right  btn-primary margin-right-10" (click)="openGridColumnsDialog()"> <mat-icon>grid_on</mat-icon> Grid Columns </button> <button mat-raised-button class="pull-right  btn-primary margin-right-10" (click)="addnewitem(null)"> <mat-icon>add</mat-icon> Add New Item </button> </div> </div> -->
      <div class="row">
        <div class="col-xs-12" style="overflow-x: auto">
          <div id="gri  d-table-container" class="table-responsive">
            <table matSort id="example2" class="table table-bordered table-hover" style="margin-left: 0px!important;">
              <thead class="tbl-head">
                 
                <tr>
                  <!-- <th class="text-left">Requisition Ref. </th> -->
                  <th class="text-left">Select</th>
                  <th class="text-left">Job Code</th>
                  <th class="text-left">Job Name</th>
                  <th class="text-left">Service Category</th>
                  <th class="text-center">Indent Ref</th>
                  <th class="text-center">UoM</th>
                  <th class="text-center">Required Quantity</th>
                  <th class="text-center">Unit Rate</th> 
                  <th class="text-center">Price</th>
                  <th class="text-center">Long Lead</th>
                  <th class="text-center" style="width: 150px;"> Default GST Rate (%)</th>
                  <th class="text-center">Requested Date</th>
                  <th class="text-center">Delivery Date</th>
                </tr>
              </thead>
              <tbody> 
                <tr *ngFor="let item of items">
                  <td class="text-center"><input type="checkbox"></td>
                  <td class="text-left">{{item.ItemCode}}</td>
                  <td class="text-left">{{item.jname}}</td>
                  <td class="text-left">{{item.Category}}</td>
                  <td class="text-center">{{item.ReqRef}}</td>
                  <td class="text-left">{{item.uom}}</td>
                  <td class="text-center">{{item.RequiredQty}}</td>
                  <td class="text-center">{{item.unitprice}}</td>
                  <td class="text-left">{{item.Amount}}</td>
                  <td class="text-center"><input type="checkbox" ></td>
                  <td class="text-center" style="display: flex;flex-direction: row;"><input class="form-control" title="Save" type="text" style="width: 80%;" value="{{item.gst}}"> <mat-icon style="color: blue;cursor: pointer;margin-top: 5px;margin-left: 10px;">save</mat-icon> </td>
                  <td class="text-center">{{item.Ddate}}</td>
                  <td class="text-center">{{item.DeliveryDate}}</td>
               
                </tr>
         
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
