<div class="NewHeader">
  <h1 mat-dialog-title>
     {{ data ? 'Update' : 'Add'}} Item
  </h1>
</div>

<div mat-dialog-content>
    <form class="form-horizontal">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Indent Ref : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
                   
             <input type="text" class="form-control"  value="AEY57643" readonly>
                
            </div>
           </div>
        <div class="form-group">
         <label class="control-label col-sm-4 add-member-label">Item Name : </label>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
                
          <input type="text" class="form-control" value="Gypsum Board" readonly>
             
         </div>
        </div>
        <div class="form-group">
         <label class="control-label col-sm-4 add-member-label">Item Code: </label>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
                
          <input type="text" class="form-control" value="GYP126YU7" readonly>
             
         </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Item Category : </label>
          <div class="col-sm-8 margin-bottom-15px">
            <input type="text" class="form-control" value="Plaster & Boards" readonly>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Item Sub Category : </label>
          <div class="col-sm-8 margin-bottom-15px">
            <input type="text" class="form-control" value="FLEXIPLY" readonly>
          </div>
      </div>
    
        <div class="form-group">
         <label class="control-label col-sm-4 add-member-label">Brand: </label>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
                
          <input type="text" class="form-control" value="GYPROC" readonly>
             
         </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 ">Length : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
             
           <input type="text" class="form-control" placeholder="Enter Length">
          </div>
         </div>
         <div class="form-group">
          <label class="control-label col-sm-4 ">Width : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
             
           <input type="text" class="form-control" placeholder="Enter Width">
          </div>
         </div>
         <div class="form-group">
          <label class="control-label col-sm-4 ">Height : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
             
           <input type="text" class="form-control" placeholder="Enter Height">
          </div>
         </div>
         <div class="form-group">
          <label class="control-label col-sm-4 ">Thickness : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
             
           <input type="text" class="form-control" placeholder="Enter Thickness">
          </div>
         </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="control-label col-sm-4 ">Required Quantity : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
               
             <input type="text" class="form-control" value="40" readonly>
            </div>
           </div>
           <div class="form-group">
            <label class="control-label col-sm-4 ">Available Quantity : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
               
             <input type="text" class="form-control"  value="30" readonly>
            </div>
           </div>
           <div class="form-group">
            <label class="control-label col-sm-4 ">Order Quantity : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
               
             <input type="text" class="form-control" placeholder="Enter Order Quantity">
            </div>
           </div>
           <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Uom : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
               
              <input type="text" class="form-control" value="NOS" readonly>
            </div>
           </div>
           <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Default GSt (%) : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
               
              <input type="text" class="form-control" value="NOS" readonly>
            </div>
           </div>
           <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Unit Price : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
               
             <input type="text" class="form-control" placeholder="Enter Unit Price" >
            </div>
           </div>
      
          <div class="form-group">
           <label class="control-label col-sm-4 add-member-label">Total Price: </label>
           <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margin-bottom-15px">              
              
            <input type="text" class="form-control" value="57,000" readonly>
           </div>
          </div>
          <div class="form-group">
           <label class="control-label col-sm-4 add-member-label">Required By: </label>
           <div class="col-sm-8 margin-bottom-15px">
            <input type="date" class="form-control" value="2022-01-08" readonly>
           </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Delivery date: </label>
            <div class="col-sm-8 margin-bottom-15px">
             <input type="date" class="form-control" >
            </div>
           </div>
        </div>
      </div>
 

    </form>
</div>
<mat-dialog-actions align="end" style="padding-bottom: 10px;">
    <button mat-raised-button class="btn-primary"  [mat-dialog-close]="'test'"><mat-icon>send</mat-icon><span>Save</span></button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon>Close</button>
</mat-dialog-actions> 
