<div class="container-fluid" >
  <div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100 sizeAlign">
      <div class="row" style="margin-bottom:15px;margin-top: -23px;">
        <div class="col-xs-6 ">
        </div>
        <div class="col-xs-6 " style="margin-left:-10px">
          <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10"
          (click)="filterToggle = !filterToggle">
          <mat-icon>filter_list</mat-icon> Filter
        </button>
        <button mat-raised-button class="pull-right  btn-primary margin-right-10"
        (click)="addWorkOrder()">
           <mat-icon>add</mat-icon> Add Work Order
      </button>
  
        </div>
      </div>
       
      <div class="container-fluid" style="padding: 0% !important;">
        <div fxLayout="row wrap" *ngIf="filterToggle" class="sizeAlign">
          <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
            <mat-card class="filter">
              <mat-card-content>
                <div class="row">
        
                  <!-- <div class="col-sm-3">
                    <div class="col-sm-4 newMarginClass" style="margin-top: 5px;"> Approval Status:</div>
                    <div class="col-sm-8">
                        <mat-select class="form-control" placeholder="Select Indent">
                          <mat-option [value]="0">
                              All
                          </mat-option>
                          <mat-option [value]="0">
                            Approved
                          </mat-option>
                          <mat-option [value]="1">
                              Declined
                          </mat-option>
                      </mat-select>
                      </div>
                  </div> -->
        
          
                  <div class="col-sm-3">
                    <div class="col-sm-4 newMarginClass" style="margin-top: 5px;">Select Project:</div>
                    <div class="col-sm-8">
                      <mat-select placeholder=" Select Project" class="form-control" multiple  required >
                        <mat-option value="1">E005KA10012</mat-option>
                        <mat-option value="2">E005KA10013</mat-option>
                        <mat-option value="3">E005KA10014</mat-option>
                        <mat-option value="4">E005KA10015</mat-option>
                        <mat-option value="5">E005KA10016</mat-option>
                      </mat-select>
                    </div>
                  </div>
      
                  <div class="col-sm-3">
                    <div class="col-sm-5 newMarginClass" style="margin-top: 5px;">Select WO Type:</div>
                    <div class="col-sm-7">
                      <mat-select placeholder=" Select WO Type" class="form-control" multiple  required >
                        <mat-option value="1">MEP</mat-option>
                        <mat-option value="2">Sub Contracts</mat-option>
                      </mat-select>
                    </div>
                  </div>
      
                  <div class="col-sm-3">
                    <div class="col-sm-4 newMarginClass" style="margin-top: 5px;">Select Vendor:</div>
                    <div class="col-sm-8">
                      <mat-select placeholder=" Select Vendor" class="form-control" required >
                        <mat-option value="1">Usha International Ltd</mat-option>
                        <mat-option value="2">Mallikarjuna Rao</mat-option>
                        <mat-option value="3">Arnold D Cruz	</mat-option>
                        <mat-option value="4">Axel adler</mat-option>
                        <mat-option value="5">Amit Constructions</mat-option>
                      </mat-select>
                    </div>
                  </div>

                  <div class="col-sm-3" >
                    <div class="col-sm-4 newMarginClass">
                      Date Type:
                    </div>
                    <div class="col-sm-8">
                      <mat-select placeholder="Select Date type" class="form-control">
                        <mat-option >Indent Date</mat-option>
                        <mat-option >	Target Date</mat-option>
                      </mat-select>
                    </div>
                  </div>
        
      
                  <!-- <div class="col-sm-3" >
                    <div class="col-sm-4 newMarginClass">
                      Date Type:
                    </div>
                    <div class="col-sm-8">
                      <mat-select placeholder="Select Date type" class="form-control">
                        <mat-option >Indent Date</mat-option>
                        <mat-option >	Target Date</mat-option>
                      </mat-select>
                    </div>
                  </div> -->
                  <div class="w-100"></div>
                  <div class="col-sm-3" style="padding-top:20px">
                    <div class="col-sm-4 newMarginClass">
                     From Date:
                    </div>
                    <div class="col-sm-8">
                      <input type="date" placeholder="Search by any record" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-3" style="padding-top:20px">
                    <div class="col-sm-4 newMarginClass">
                     To Date:
                    </div>
                    <div class="col-sm-8">
                      <input type="date" id="" class="form-control" placeholder="Enter Vendor">
                    </div>
                  </div>
<!-- 
                  <div class="col-sm-3" style="padding-top:20px">
                    <div class="col-sm-4 newMarginClass">
                     Approved:
                    </div>
                    <div class="col-sm-8">
                      <input type="checkbox" id="" class="form-control" placeholder="Enter Vendor" style="">
                    </div>
                  </div> -->
      
        
                  <div class="col-sm-3" style="margin-top: 16px;">
        
                    <div class="col-lg-1" style="margin-left: 150px">
                      <button mat-raised-button class="pull-right btn-primary">
                        <mat-icon>youtube_searched_for</mat-icon> Search
                      </button>
                    </div>
        
                    <div class="col-lg-1" style="margin-top: 5px;">
                      <button mat-raised-button style="background-color:#37474f; color:#fff !important;margin-top: -5px">
                        <mat-icon>settings_backup_restore</mat-icon> Clear
                      </button>
                    </div>
        
                    <a (click)="filterToggle = !filterToggle" class="pull-right"
                      style="font-size: 25px; cursor: pointer; margin-right: -10px">
                      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                    </a>
        
                  </div>
        
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        
        </div>
  
  
      <div class="row">
        <div class="col-xs-12">
          <div id="grid-table-container" class="table-responsive">
            <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                <tr>
                  <th class="text-left">WO Ref</th>
                  <th class="text-left">Project Code</th>
                  <th class="text-left">Vendor Name</th>
                  <th class="text-center">WO Type</th>
                  <th class="text-center">WO Date</th>
                  <th class="text-center">Indent</th>
                  <th class="text-center">Job Codes</th>
                  <th class="text-center">Asset</th>
                  <th class="text-left  ">Amount</th>
                  <th class="text-center">Delivery Date</th> 
                  <th class="text-center">Approval</th>
                  <th class="text-center">Terms</th>
                  <!-- <th class="text-center">Proforma Invoice</th>  -->
                  <th class="text-center" style="width: 112px!important;">
                    Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td class="text-left"  >{{item.poref}}</td>
                  <td class="text-left">{{item.pcode}}</td>
                  <td class="text-left">{{item.Name}}</td>
                  <td class="text-center">{{item.wotype}}</td>
                  <td class="text-center">{{item.podate}}</td>
                  <td class="text-center"  style="cursor: pointer;color: blue;" (click)="RequistionPop()">{{item.requisition}}</td>
                  <td class="text-center"  style="cursor: pointer;color: blue;" routerLink="/purchase/servicecontracts/work-orders/pending-jobcodes">{{item.items}}</td>
                  <td class="text-center"  style="cursor: pointer;color: blue;" routerLink="/purchase/servicecontracts/work-orders/pending-assets">{{item.assets}}</td>
                  <td class="text-left">{{item.Amount}}</td>

                  <td class="text-center">{{item.deliverydate}}</td>
                  <td class="text-center"><input type="checkbox" ></td>

                  <td class="text-center"  style="cursor: pointer;
                  color: blue;" routerLink="/purchase/servicecontracts/work-orders/work-orders-terms">
                  {{item.update}}</td>
                  <!-- <td class="text-center">
                    <a style="color: blue;cursor: pointer;" *ngIf="item.status == 'View'" target="_blank" href="http://www.africau.edu/images/default/sample.pdf" routerLinkActive="router-link-active" >{{item.status}}</a>
                   
                    <a mwlConfirmationPopover
                    *ngIf="item.status == 'View'" 
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    placement="left"
                    (confirm)="deleteUser()"
                    (cancel)="cancelClicked = true"
                   >
                    <i style="cursor: pointer;" title="Delete" class="fa fa-trash red"></i>
                </a>
                <a style="color: blue;cursor: pointer;" *ngIf="item.status == 'Add'" (click)="uploaddoc()"  routerLinkActive="router-link-active" >Add</a>
                    
                  </td> -->
                  <!-- <td class="text-center">{{item.gst}}</td> -->
                  <td class="text-center ">
                   
                    <a style="cursor: pointer;margin-right:10px;" href="../../../../../assets/PATEL INTERIORS - WALMART, CHENNAI - 0104202102.pdf" target="_blank" matTooltip="View">
                      
                    <mat-icon style="color: dodgerblue;">view_list</mat-icon>
                    </a>
                    
                    <a  style="cursor: pointer;margin-right:10px; " matTooltip="Send">
                    <mat-icon style="color: green;font-size: 22px;" >send</mat-icon></a>
                  </td>

                </tr>
              </tbody>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>












































<!-- previous code using the accordians -->




<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" style="padding: 15px !important;margin-bottom: 20px;">
        <div class="col-sm-12" style="padding: 0px !important;">
          <p-accordion class="customAccordian" (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
            <p-accordionTab *ngFor="let item of taskData" [selected]="item.selected">
              <p-header class="col-sm-11" style="padding-left: 0px;">
                <div class="col-sm-4" style="margin-left: 30px;">
                  <label>Ref No.:</label>
                  <span>&nbsp;
                    {{item.taskName}}
                  </span>
                </div>
                <div class="col-sm-3" style="margin-left: 30px;">
                  <label>Category:</label>
                  <span>&nbsp;
                    {{item.ref}}
                  </span>
                </div>
                <div class="col-sm-2" style="margin-left: 30px;">
                  <label>Items:</label>
                  <span>&nbsp; {{item.totalBudgetCostSOW}}</span>
                </div>
              </p-header>
              <div class="table-responsive" id="{{item.id}}">
                <table id="example2" class="table table-bordered table-striped table-hover no-padding"
                  style="margin-bottom: 10px !important">
                  <thead>
                    <tr _ngcontent-c21="" class="custom-thead-budget">
                      <th _ngcontent-c21="" style="min-width: 200px;">PO Ref#</th>
                      <th _ngcontent-c21="" style="min-width: 200px;">Vendor</th>
                      <th _ngcontent-c21="" style="min-width: 100px;" class="text-center">Items</th>
                      <th _ngcontent-c21="" style="min-width: 100px;">Delivery Day(s)</th>
                      <th _ngcontent-c21="" style="min-width: 80px;">Value</th>
                      <th _ngcontent-c21="" style="min-width: 80px;" class="text-center">Requisition Qty</th>
                      <th _ngcontent-c21="" style="min-width: 80px;" class="text-center">Order Qty</th>
                      <th _ngcontent-c21="" style="min-width: 80px;" class="text-center">Approval</th>
                      <th _ngcontent-c21="" style="min-width: 80px;" class="text-center">Terms</th>
                      <th _ngcontent-c21="" style="min-width: 80px;">Publish</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="item.Data?.length == 0">

                      <td style="text-align: center;" colspan="7">
                        No records Found
                      </td>
                    </tr>
                    <tr *ngFor="let tData of item.Data; let i = index">
                      <td>OM/BHL/OCT/19-20/1077
                      </td>
                      <td>Menon Bearings Ltd</td>
                      
                      <td  style =" color: blue; cursor: pointer;" routerLink="/purchase/view-item-po" class="text-center">3</td>
                      <td class="text-center">
                        2 Day(s)</td>
                      <td class="text-center"> 25,000.00</td>
                      <td class="text-center">120</td>
                      <td class="text-center">100</td>
                      <td class="text-center"><input type="checkbox"></td>
                      <td style="color: blue;cursor: pointer;" class="text-center">View</td>
                      <td class="text-center">
                        <label style="color: blue;">Send</label><br>
                        <label style="color: red;">Delayed</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </p-accordionTab>

          </p-accordion>
        </div>
      </div>
    </div>
    <div class="flex-p">
    </div>
  </div> -->