<h1 mat-dialog-title class="custom-header" style="background-color:#286ba5 !important;height:50px">{{ data ? 'Update' : 'Add'}} New Job Code</h1>
<form>
  <div mat-dialog-content>
    <div class="col-sm-12">
        <!-- <div class="form-group" >
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;" >Item Name: </label>
          <input type="text" class="form-control" placeholder="Enter Item Name" >
        </div> -->
  
        <!-- <div class="form-group">
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" 
          style="margin-left: -15px !important;" >Service Category:</label>
          <mat-select placeholder="Select Service Category" class="form-control" required >
            <mat-option value="1">FMX480</mat-option>
            <mat-option value="2">D85ESS 17</mat-option>
            <mat-option value="3">All Models</mat-option>
            <mat-option value="4">ACTROS 4841K</mat-option>
            <mat-option value="5">D85ESS 86</mat-option>
            </mat-select>
        </div> -->
        
        
          <!-- <div class="form-group ">
            <div class="row">
              <label class="col-sm-12 add-member-label">Job Code:</label>
                <div class="col-sm-12">
                  <mat-select placeholder="Select Job Code" class="form-control">
                    <mat-option value="1">B229900003680</mat-option>
                    <mat-option value="1">421-60-35170</mat-option>
                    <mat-option value="1">B229900003680</mat-option>
                    <mat-option value="1">421-60-35170</mat-option>
                    <mat-option value="1">521-60-34512</mat-option>
                 </mat-select>
                </div>
            </div>
         </div> -->

         <div class="form-group">
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Job Code: </label>
          <input type="text" class="form-control" placeholder="Enter Job Code" required >
        </div>
  
        <div class="form-group">
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Job Name: </label>
          <input type="text" disabled class="form-control" placeholder="Enter Job Name" value="Volvo" required >
        </div>
  
        <div class="form-group">
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Service Category: </label>
          <input type="text" disabled class="form-control" placeholder="Enter Service Category" value="Dump Truck" required >
        </div>

          
        <div class="form-group">
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">UoM: </label>
          <input type="text" disabled class="form-control" placeholder="Enter Service Category" value="sqmt" required >
        </div>

          
        <div class="form-group">
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Quantity Required: </label>
          <input type="text"  class="form-control" placeholder="Enter Quantity Required"  required >
        </div>

         <div class="form-group ">
          <div class="row">
            <label class="col-sm-12 add-member-label">Remarks:</label>
              <div class="col-sm-12">
                <textarea name="txtname" rows="4" class="form-control"  placeholder="Enter Remarks">
                </textarea>
              </div>
          </div>
       </div>  

        <!-- <div class="form-group ">
          <div class="row">
            <label class="col-sm-12 add-member-label">Eqpt Model</label>
            <div class="col-sm-12">
              <mat-select placeholder="Select Eqpt Model" class="form-control">
                <mat-option>Volvo</mat-option>
                <mat-option>CAT-DX</mat-option>
                <mat-option>T-4H</mat-option>
                <mat-option>LA-D</mat-option>
                <mat-option>ED-F</mat-option>
            </mat-select>
            </div>
          </div>
        </div> -->
<!-- 
       <div class="form-group" >
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;" >Select Category: </label>
        <mat-select placeholder="Select Category" class="form-control" >
          <mat-option value="1">Dump Truck</mat-option>
          <mat-option value="2">Backhoe Loader</mat-option>
          <mat-option value="3">Backhoe Loader</mat-option>
          <mat-option value="4">Dump Truck</mat-option>
          <mat-option value="5">Backhoe Loader</mat-option>
          
        </mat-select>
      </div> -->
<!-- 
      <div class="form-group" >
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Select Sub Category: </label>
        <mat-select placeholder="Select Sub Category" class="form-control" required > 
          <mat-option value="1">Breakdown Repairs</mat-option>
          <mat-option value="2">Running Maintenance</mat-option>
          <mat-option value="3">Breakdown Repairs</mat-option>
          <mat-option value="4">Accident Repairs</mat-option>
          <mat-option value="4">Accident Repairs</mat-option>
        </mat-select>
      </div> -->
    
<!--       

      <div class="form-group" >
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;"> UOM:</label>
        <input type="text" class="form-control" 
        placeholder="Enter Item Name" >
      </div> -->
    
      
      
      
      <!-- <div class="form-group"  >
        <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 add-member-label" style="margin-left: -15px !important;">Quantity Required: </label>
        <input type="text" class="form-control" placeholder="Enter Quantity Required" required >
      </div>
     -->

      
    </div>
      

    </div>

    <mat-dialog-actions align="end" style="margin-right: 2%;margin-bottom: -2%;">
        <button mat-raised-button class="add-hover btn-primary" type="submit" (click)="close()">Save</button>
        <button mat-raised-button type="button" class="add-dark-hover btn-default" (click)="close()">Cancel</button>
    </mat-dialog-actions>
</form>




