<div class="w-100">
  <div class="flex-p">
      <div class="row wrap">
          <div class="col-sm-12 no-padding">
              <div class="row-wrap">
                  <div class="w-100">
                          <div class="col-xs-12" style="margin-bottom: 15px;">
                              <div class="pills">
                                  <ul class="nav nav-pills" style="margin-bottom: -25px;">
                                      <li routerLinkActive="active" routerLink="/assets/asset-master/">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Assets Master
                                          </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="/assets/oem-master">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          OEM 
                                        </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="/assets/class-master">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Class Master
                                          </a>
                                      </li>  
                                      <li routerLinkActive="active" routerLink="/assets/assets-categories">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Categories
                                        </a>
                                      </li>  
                                      <li routerLinkActive="active" routerLink="/assets/assets-indent">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Indent
                                        </a>
                                      </li>  

                                      <li routerLinkActive="active" routerLink="/assets/assets-rfq">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          RFQ
                                        </a>
                                      </li>                              
                                 
                                      <li routerLinkActive="active" routerLink="/assets/assets-quotation">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Quotes
                                        </a>
                                      </li>
                                                              
                                      <li routerLinkActive="active" routerLink="/assets/assest-purchase-orders/unpublished-po">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                           Purchase Orders
                                        </a>
                                      </li>  
                                      <li routerLinkActive="active" routerLink="/assets/assets-crn">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          CRN
                                        </a>
                                      </li>  

                                      <li routerLinkActive="active" routerLink="/assets/assets-service-history">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Service History
                                        </a>
                                      </li>                              
                                 
                                      <li routerLinkActive="active" routerLink="/assets/warranty/">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Warranty / AMC
                                        </a>
                                      </li>
                                               
               

                                  </ul>
                              </div>
                          </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
